@media (min-width: 320px) {
    #contentBrends,
    #contentTecnic {
        display: none;
    }

    .content__text--tablet {
        display: none;
    };


}

@media (min-width: 768px) {
    #contentBrends,
    #contentTecnic {
        display: block;
        display: flex;
        align-items: center;
        margin-left: 16px;
    }
    
    
    #id__brends.is-open-brends {
        height: 190px;
      }

    #id__tecnics.is-open-tecnics {
        height: 190px;
    }

    .content__text--tablet {
        display: block;
    };

    .exp-hide {
        display: none;
    }
}

// text Expander 
.exp-hide {
    display: none;
}

.rotateBtn {
    transform: rotate(0deg);
}