@font-face {
    font-family: "LakesLight";
    src: url('fonts/TTLakesCompressed-Light.ttf');
  }
  
  @font-face {
    font-family: "LakesBold";
    src: url('fonts/TTLakes-Bold.ttf');
  }
  
  @font-face {
    font-family: "LakesRegular";
    src: url('fonts/TTLakes-Regular.ttf');
  }
  
  @font-face {
    font-family: "LakesCondReg";
    src: url('fonts/TTLakesCondensed-Regular.ttf');
  }