div.lenovo {
    background: #FFF url('img/lenovo.png') no-repeat 10% 50% ;
    background-size: 108px 32px;
  }
  
  div.samsung {
    background: #FFF url('img/samsung.png') no-repeat 10% 50% ;
    background-size: 108px 32px;
  }
  
  div.apple {
    background: #FFF url('img/apple.png') no-repeat 10% 50% ;
    background-size: 44px 44px;
  }
  
  div.bosch {
    background: #FFF url('img/bosch.png') no-repeat 10% 50% ;
    background-size: 128px 28px;
  }
  
  div.hp {
    background: #FFF url('img/hp.png') no-repeat 10% 50% ;
    background-size: 52px 52px;
  }
  
  div.acer {
    background: #FFF url('img/acer.png') no-repeat 10% 50% ;
    background-size: 94px 24px;
  }
  
  div.sony {
    background: #FFF url('img/sony.png') no-repeat 10% 50% ;
    background-size: 108px 32px;
  }
  
  div.viewsonic {
    background: #FFF url('img/viewsonic.png') no-repeat 10% 50% ;
    background-size: 128px 21px;
  }