.modal__feedback,
.modal__call {
    display: block;
    position: fixed;
    z-index: 10000000000;
    background-color: #FFF;
    font-size: 16px;
    color: black;
    position: absolute;
    width: 440px;
    height: 130%;
    right: 0;
    top: 0;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20),
              -2px 0px 4px 0px rgba(69, 79, 126, 0.02),
              0px 0px 0px 5000px rgba(135, 135, 135, 0.646)
}

.section__title--feedback {
    margin: 40px auto 24px 32px;
    color: #1B1C21;
    font-family: "LakesBold";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.6px;
}

.section__title--highlighter {
    position: absolute;
    top: 37px;
    left: -2px;
    width: 4px;
    height: 40px;
    background: linear-gradient(to right, transparent 0%, transparent 50%, #41F6D7 50%, #41F6D7 100%);
    border-radius: 8px;
}

.modal__feedback--escape {
    position: absolute;
    left: -72px;
    top: 37px;
}

.modal__feedback--input {
    padding-left: 16px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    width: 350px;
    height: 48px;
    margin: 16px 32px 16px 32px;
    
        &:focus-visible {
        border-radius: 8px;
        outline: 2px solid #EAEAEA;
        background: #FFF;
    }

        &::placeholder {
            color: #aeaeae;
        }
}

.modal__feedback--message {
    resize: none;
    height: 118px;
    padding-top: 12px;
    
}

.modal__terms {
    margin: 16px 32px 25px 32px;
    color: #7E7E82;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
}

.modal__terms--link {
    color: #FF3E79;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    line-height: 16px;
}

.oval__button {
    padding: 4px 36px 4px 8px;
    width: 136px;
    height: 32px;
    border-radius: 16px;
    background: #FF3E79 url("img/goside.svg") no-repeat 90% 50%;
    border: none;
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
}

.modal__btn {
    float: right;
    margin-right: 32px;
    margin-bottom: 75px;
}

@media (max-width:768px) {
    .modal__feedback,
    .modal__call {
        max-width: 320px;
        min-height: 130%;
        padding: 24px 0 0 16px;
    }

    .section__title--feedback {
        margin-left: 0;
        margin-top: 40px;   
    }

    .section__title--highlighter {
        top: 105px;
    }

    .modal__feedback--input {
        margin-left: 0;
        width: 272px;
    }

    .modal__feedback--escape {
        top: 0;
        left: 0;
        position: relative;
    }
}

.modal__feedback {
    overflow: scroll;
}
@media (min-width:769px) {
    .modal__feedback {
        overflow: visible;
    }
}

.modal__scroll {
    height: 800px;
}

.modal__close {
    display: none;
}
