* {
    margin: 0;
    padding: 0;
    font-family: "LakesRegular";
}
html {
  background: #F8F8F8;
  box-sizing: border-box;
}

.modal-open {
  overflow: hidden;
}
@media (max-width:1440px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

@import "fonts.scss";  
@import "buttons.scss";
@import "header.scss";
@import "subMenu.scss";
@import "main.scss";
@import "section-brends.scss";
@import "logo.scss";
@import "section-tecnic.scss";
@import "section-prices.scss";
@import "section-specialOffer.scss";
@import "footer.scss";
@import "expander.scss";
@import "modal.scss";
